.left_nav {
  color: white;
  height: 100%;
}
.left_nav ul {
  height: calc(100% - 32px);
  overflow: auto;
  padding-bottom: 52px;
}
.left_nav ul::-webkit-scrollbar {
  display: none;
}
.left_nav .left_nav_header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #002140;
}
.left_nav .left_nav_header img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  animation: rotation 10s linear infinite;
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.left_nav .left_nav_header h1 {
  margin: 0;
  color: white;
  font-size: 20px;
}
